table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width:100%;
    height:50%;
  }

  td, th {
    border: 1px solid black;
    text-align:center;
  }

  td:hover{
    background:yellow;
  }
  
  tr:nth-child(even) {
    background-color:skyblue;
  }

  #btnupdate{
      background:rgb(0, 128, 32);
      padding:5px 10px;
  }
  .btndelete{
    background: red;
    padding:5px 10px;
  }
  .viewbtn{
    background:blue green;
    padding:5px 10px;
  }

  .hr{
    background-color:skyblue;
    padding:5px 8px;
  }