
.template-driven{
    text-align: center;
    padding: 0;
    width:400px;
    border: 1px solid grey;
    box-shadow: 0px 5px 10px black;
    background-color:white;
    margin:20px;
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}


.head {
    background: rgb(40, 109, 189);
    box-sizing: border-box;
    color:white;
    margin-top:0;
    font-size: 25px;
    font-weight: lighter;
    padding: 10px;
}
label {
    display: block;
}
form {
    text-align: left;
}

.outercont {
    text-align: center;
    margin-top:100px;
}
.data {
    padding:10px;
    border-radius: 2px;
    background: rgb(46, 46, 71);
    color:rgb(223, 168, 255);
}
input{
    padding: 15px 15px;
    border:1px solid rgb(187, 186, 186);
    border-radius: 2px;
    width:100%;
    box-sizing: border-box;
}

input:focus {
    outline: none;
    color:blue;
    font-size: larger;
    border:1px solid rgb(133, 59, 252);
    box-shadow: 0px 0px 5px rgb(210, 96, 252);
    /* outline:none; */
}
select{
    padding:10px 15px;
    border:1px solid rgb(187, 186, 186);
    border-radius: 2px;
    box-sizing: border-box;
    width: 100%;
}
select:focus{
    outline: none;
    font-size:larger;
    border:1px solid rgb(133, 59, 252);
    box-shadow: 0px 0px 5px rgb(210, 96, 252);
}

.cont {
    padding: 50px;
    box-sizing: border-box;
}

button {
    padding: 10px 15px;
    border-color:rgb(161, 159, 159);
    border-radius:10x;
    background:rgb(11, 109, 19);
    box-sizing: border-box;
    color: aliceblue; 
    display: inline;
}

p{
    color:red;
    font-size: large;
    font-family: sans-serif;
    font-weight: 100;
    font-display: inherit;
}
/* navbr design */
.topnav {
    overflow: hidden;
    background-color:skyblue;
    position: fixed;
    top:0;
    width: 100%;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }

